@using IBDbWebApplication.Models.Entity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IBDbWebApplication.Models.AdminModels.PublisherModels.PublisherViewModel
@{
    ViewData["Title"] = "IBDb | Admin publisher";
}

<div class="MainContainer">
    <div class="hero">
        <h1>Manage publishers</h1>
    </div>
    <section>
        <ul class="operations">
            <li>
                <div class="operation-button" onclick="ShowDialog()">
                    <p>➕</p>
                    <h2>Create</h2>
                </div>
                <dialog id="AddForm">
                    <div class="modal-content">
                    @using (@Html.BeginForm("AddPublisher", "Publisher", FormMethod.Post))
                    {
                        <button type="button" class="btn-close" onclick="CloseDialog()">X</button>
                        <fieldset>
                            <legend>Add a Publisher</legend>
                            <div class="form-group">
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                @Html.LabelFor(publisherViewModel => publisherViewModel.Name, "Name")
                                @Html.TextBoxFor(model => model.Name, new { @placeholder = "Faber & Faber" })
                            </div>
                            <div class="form-group">
                                @Html.ValidationMessageFor(model => model.FoundingDate, "", new { @class = "text-danger" })
                                @Html.LabelFor(publisherViewModel => publisherViewModel.FoundingDate, "Founding date")
                                <input asp-for="FoundingDate"/>
                            </div>
                            <div class="form-group">
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                @Html.LabelFor(publisherViewModel => publisherViewModel.Description, "Description")
                                @Html.TextAreaFor(model => model.Description, new { @placeholder = "Faber and Faber began as a firm in 1929, but originated in the Scientific Press, owned by Sir Maurice and Lady Gwyer. The Scientific Press derived much of its income from the weekly magazine The Nursing Mirror. The Gwyers' desire to expand into trade publishing led them to Geoffrey Faber, a fellow of All Souls College, Oxford; they founded Faber and Gwyer in 1925. After four years, The Nursing Mirror was sold and Geoffrey Faber and the Gwyers agreed to go their separate ways. Faber selected the company name of Faber and Faber, although there was no other Faber involved." })
                            </div>
                        </fieldset>
                        <button id="ButtonMelding" type="submit">Add Publisher</button>
                    }
                    </div>
                </dialog>
            </li>
        </ul>
    </section>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Founding date</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        @foreach (PublisherModel publisher in Model.PublisherModels)
        {
            <tr>
                <td>@publisher.Id</td>
                <td>@publisher.Name</td>
                <td>@publisher.FoundingDate</td>
                <td>@publisher.Description</td>
            </tr>
        }
        </tbody>
    </table>
</div>
