@using IBDbWebApplication.Models.Entity
@model IBDbWebApplication.Models.HomeModels.HomeViewModel
@{
    ViewData["Title"] = "IBDb | Home";
}
<div class="MainContainer">
    <div class="hero">
        <h1>IBDb</h1>
    </div>
    <section>
        <h2>Most liked</h2>
        <table>
            <thead>
            <tr>
                <th>Cover</th>
                <th>Title</th>
                <th>ISBN</th>
                <th>Synopsis</th>
                <th>Publisher</th>
                <th>Pages</th>
            </tr>
        </thead>
            <tbody>
            @foreach (BookModel book in Model.BookModels)
            {
                <tr onclick="location.href='@Url.Action("Detail", "Book", new{book.Id})'">
                    <td><img src="https://picsum.photos/seed/@book.Isbn/275/400" alt="Book image"></td>
                    <td>@book.Title</td>
                    <td>@book.Isbn</td>
                    <td>@book.Synopsis</td>
                    <td>@book.Publisher.Name</td>
                    <td>@book.AmountPages</td>
                </tr>
            }
            </tbody>
        </table>
    </section>
</div>