@using IBDbWebApplication.Models.Entity
@model IBDbWebApplication.Models.AdminModels.GenreViewModel
@{
    ViewData["Title"] = "IBDb | Admin genre";
    string[] validationErrors = TempData["ValidationErrors"] as string[];}

<div class="MainContainer">
    <div class="hero">
        <h1>Manage genres</h1>
    </div>
    <section>
        <ul class="operations">
            <li>
                <div class="operation-button" onclick="ShowDialog()">
                    <p>➕</p>
                    <h2>Create</h2>
                </div>
                <dialog id="AddForm">
                    <div class="modal-content">
                    @using (@Html.BeginForm("AddGenre", "Genre", FormMethod.Post))
                    {
                        <button type="button" class="btn-close" onclick="CloseDialog()">X</button>
                        <fieldset>
                            <legend>Add a Genre</legend>
                            <div class="form-group">
                                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                                @Html.LabelFor(genreViewModel => genreViewModel.Name, "Name")
                                @Html.TextBoxFor(model => model.Name, new {@placeholder = "Horror"})
                            </div>
                        </fieldset>
                        <button id="ButtonMelding" type="submit">Add Genre</button>
                    }
                    </div>
                </dialog>
            </li>
        </ul>
    </section>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (GenreModel genre in Model.GenreModels)
        {
            <tr>
                <td>@genre.Id</td>
                <td>@genre.Name</td>
            </tr>
        }
        </tbody>
    </table>
</div>
