@using IBDbWebApplication.Models.Entity
@model IBDbWebApplication.Models.AdminModels.SettingModels.SettingViewModel
@{
    ViewData["Title"] = "IBDb | Admin setting";
}

<div class="MainContainer">
    <div class="hero">
        <h1>Manage settings</h1>
    </div>
    <section>
        <ul class="operations">
            <li>
                <div class="operation-button" onclick="ShowDialog()">
                    <p>➕</p>
                    <h2>Create</h2>
                </div>
                <dialog id="AddForm">
                    <div class="modal-content">
                        @using (@Html.BeginForm("AddSetting", "Setting", FormMethod.Post))
                        {
                            <button type="button" class="btn-close" onclick="CloseDialog()">X</button>
                            <fieldset>
                                <legend>Add a Setting</legend>
                                <div class="form-group">
                                    @Html.LabelFor(settingViewModel => settingViewModel.Description, "Description")
                                    @Html.TextBoxFor(model => model.Description, new { @placeholder = "Atlantis" })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </fieldset>
                            <button id="ButtonMelding" type="submit">Add Setting</button>
                        }
                    </div>
                </dialog>
            </li>
        </ul>
    </section>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (SettingModel setting in Model.SettingModels)
        {
            <tr>
                <td>@setting.Id</td>
                <td>@setting.Description</td>
            </tr>
        }
        </tbody>
    </table>
</div>
