@using IBDbWebApplication.Models.Entity

@{
    ViewData["Title"] = "IBDb | Admin theme";
}

<div class="container">
    <div class="hero">
        <h1>Manage themes</h1>
    </div>
    @if (Model != null && Model.Books is not null)
    {
        @foreach (BookModel book in Model.Books)
        {
            <div>
                <div>
                    <h3>@book.Title</h3>
                    <p>@book.Isbn</p>
                    <p>@book.Publisher.Name</p>
                    <p>@book.AmountPages</p>

                    @foreach (AuthorModel author in Model.Books.Authors)
                    {
                        <p>@author.Name</p>
                    }

                    @foreach (GenreModel genre in Model.Books.Genres)
                    {
                        <p>@genre.Name</p>
                    }

                    @foreach (ThemeModel theme in Model.Books.Themes)
                    {
                        <p>@theme.Description</p>
                    }

                    @foreach (SettingModel setting in Model.Books.Settings)
                    {
                        <p>@setting.Description</p>
                    }
                </div>
            </div>
        }
    }
</div>
