@using IBDbWebApplication.Models.Entity
@model IBDbWebApplication.Models.AccountModels.AccountViewModel

@{
    ViewData["Title"] = "IBDb | Profile";
}

<div class="MainContainer">
    <div class="hero">
        <h1>Profile</h1>
    </div>
    <section>
        <div class="profile-container">
            <div class="profile-image">
                <img src="https://picsum.photos/seed/@Model.AccountModel.Id QZJVKW/50/50" alt="Profile image">
            </div>
            <div class="profile-info">
                <h2>Username: @Model.AccountModel.Username</h2>
                <p>Is admin: @Model.AccountModel.IsAdmin</p>
            </div>
        </div>
        <div class="favorite__container__books">
            <h2>Favorites</h2>
            <ul>
                @foreach(BookModel favorite in Model.FavoriteBookModels)
                {
                    <li>
                        <img src="https://picsum.photos/seed/@favorite.Isbn/275/400" alt="Book image">
                        <p>@favorite.Title | @favorite.AmountPages</p>
                        <p>@favorite.PublishDate</p>
                    </li>
                }
            </ul>
        </div>
    </section>
</div>