@using IBDbWebApplication.Models.Entity
@model IBDbWebApplication.Models.AdminModels.BookModels.BookDetailViewModel

@{
    ViewData["Title"] = $"{Model.BookModel.Title} | Book";
    bool IsLoggedIn = Context.Session.GetInt32("Account") > 0;
}

<div class="MainContainer">
    <div class="hero">
    </div>
    <section class="detail">
        <img src="https://picsum.photos/seed/@Model.BookModel.Isbn/275/400" alt="Book image">
        <div>
            <h1>@Model.BookModel.Title</h1>
            <div class="items">
                <span>By</span>
                @foreach (AuthorModel author in Model.BookModel.Authors)
                {
                    <h3>@author.Name</h3>
                }
            </div>
            <h5>@Model.BookModel.Isbn</h5>
            <p>@Model.BookModel.Synopsis</p>
            <div class="items">
                <span>Genre</span>
                @foreach (GenreModel genre in Model.BookModel.Genres)
                {
                    <p>@genre.Name</p>
                }
            </div>
            <div class="items">
                <span>Themes</span>
                @foreach (ThemeModel theme in Model.BookModel.Themes)
                {
                    <p>@theme.Description</p>
                }
            </div>
            <div class="items">
                <span>Settings</span>
                @foreach (SettingModel setting in Model.BookModel.Settings)
                {
                    <p>@setting.Description</p>
                }
            </div> 
            <div class="items">
                <span>Pages</span>
                <p>@Model.BookModel.AmountPages</p>
            </div>
            <div class="items">
                <span>Publisher</span>
                <p>@Model.BookModel.Publisher.Name</p>
            </div>
            @if (IsLoggedIn)
            {
                @using(@Html.BeginForm("Favorite", "Book", new { id = Model.BookModel.Id }, FormMethod.Post))
                {
                    <button class="favorite" type="submit">
                        Favorites: @Model.BookModel.Favorites
                    </button>
                }
                @if (@Model.Shelved)
                {
                    @using(@Html.BeginForm("Unshelve", "Book", new { id = Model.BookModel.Id }, FormMethod.Post))
                    {
                        <button type="submit">
                            Remove from bookshelve
                        </button>
                    }
                }
                else
                {
                    @using(@Html.BeginForm("Shelf", "Book", new { id = Model.BookModel.Id }, FormMethod.Post))
                    {
                        <button type="submit">
                            Add to bookshelve
                        </button>
                    }
                }
            }
            else
            {
                <div class="items">
                    <span>Favorites</span>
                    <p>@Model.BookModel.Favorites</p>
                </div>
            }
        </div>
    </section>
    <section class="review">
        <h2>Reviews</h2>
        @if (IsLoggedIn)
        {
            @using(@Html.BeginForm("CreateReview", "Book", FormMethod.Post))
            {
                <fieldset>
                    <legend>Post a review</legend>
                    @Html.HiddenFor(model => model.ReviewModel.BookId)
                    <div class="form-group">
                        @Html.ValidationMessageFor(model => model.ReviewModel.Title, "")
                        @Html.LabelFor(model => model.ReviewModel.Title)
                        @Html.TextBoxFor(model => model.ReviewModel.Title, new { @class = "form-control", @placeholder = "disappointing as a soggy spring roll" })
                    </div>
                    <div class="form-group">
                        @Html.ValidationMessageFor(model => model.ReviewModel.Content, "")
                        @Html.LabelFor(model => model.ReviewModel.Content)
                        @Html.TextAreaFor(model => model.ReviewModel.Content, new { @class = "form-control", @placeholder = "Aiya, this book review, it's so disappointing! Uncle Roger cannot believe what he just read, lah! This book, it claims to be a gripping thriller, but Uncle Roger is not feeling the thrill, only the agony, haiya! Firstly, the characters in this book, they are as bland as unseasoned rice. Uncle Roger couldn't connect with any of them, not even the so-called \"hero.\" Where's the flavor, lah? They were just going through the motions, like boiled cabbage, no excitement, no depth, just plain boring! And the plot, oh my gosh! It's like a confused stir-fry. Uncle Roger couldn't follow what was happening half the time. The twists and turns were more like a wok tossing noodles than a well-constructed storyline. Uncle Roger was left scratching his head, wondering why he wasted his time on this mess. But the worst part, the grammar and editing, it's worse than burnt toast! Uncle Roger couldn't believe the number of typos, grammatical errors, and awkward sentences in this book. It was like reading a primary school essay. Where's the proofreader, huh? Uncle Roger is sorry to say this, but this book is a total disaster, a flavorless rice dish. It lacked the excitement, the finesse, and the attention to detail that Uncle Roger expects from a good book. Uncle Roger cannot recommend this to anyone, unless you want to torture yourself, haiya! Remember, when it comes to books, Uncle Roger wants them to be like a perfect plate of nasi lemak—full of flavor, well-balanced, and satisfying. This book, unfortunately, it's as disappointing as a soggy spring roll. Uncle Roger will definitely not be picking up anything from this author again. Better luck next time, lah!" })
                    </div>
                </fieldset>  
                <button type="submit">Post review</button>
            }
        }
        @if(!Model.ReviewViewModels.Any())
        {
            <h3>There are no reviews for this book yet.</h3>
        } else
        {
            <ul>
                @foreach (ReviewViewModel review in Model.ReviewViewModels)
                {
                    <li>
                        <div class="userReview">
                            <div class="user">
                                <img src="https://picsum.photos/seed/@review.Account.Id QZJVKW/50/50" alt="Profile image">
                                <p>@review.Account.Username</p>
                            </div>
                            <h3>@review.Title</h3>
                            <p>@review.Content</p>
                        </div>
                        <ul>
                            @if (IsLoggedIn)
                            {
                                @using (@Html.BeginForm("CreateComment", "Book", FormMethod.Post))
                                {
                                    <fieldset>
                                        <legend>Post a comment</legend>
                                        @Html.HiddenFor(model => model.CommentModel.BookId)
                                        @Html.Hidden("CommentModel.ReviewId", review.Id)
                                        <div class="form-group">
                                            @Html.ValidationMessageFor(model => model.CommentModel.Content, "")
                                            @Html.LabelFor(model => model.CommentModel.Content)
                                            @Html.TextAreaFor(model => model.CommentModel.Content, new {@class = "form-control", @placeholder = "Yea, what he said."})
                                        </div>
                                    </fieldset>
                                    <button type="submit">Post comment</button>
                                }
                            }
                            @foreach (CommentViewModel comment in review.CommentModels)
                            {
                                <li>
                                    <div class="user">
                                        <img src="https://picsum.photos/seed/@comment.Account.Id QZJVKW/50/50" alt="Profile image">
                                        <p>@comment.Account.Username</p>
                                    </div>
                                    <p>@comment.Content</p>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        }
    </section>
</div>