@using IBDbWebApplication.Models.Entity
@model IBDbWebApplication.Models.AdminModels.BookModels.BookViewModel
@{
    ViewData["Title"] = "IBDb | Admin book";
}
<div class="MainContainer">
    <div class="hero">
        <h1>Manage books</h1>
    </div>
    <section>
        <ul class="operations">
            <li>
                <div class="operation-button" onclick="ShowDialog()">
                    <p>➕</p>
                    <h2>Create</h2>
                </div>
                <dialog id="AddBookForm">
                    <div class="modal-content">
                        @using (@Html.BeginForm("AddBook", "Book", FormMethod.Post))
                        {
                            <button type="button" class="btn-close" onclick="CloseDialog()">X</button>
                            <fieldset>
                                <legend>Add a book</legend>
                                <div class="split">
                                    <div>
                                        <div class="form-group">
                                            @Html.ValidationMessageFor(model => model.Isbn, "", new { @class = "text-danger" })
                                            @Html.LabelFor(model => model.Isbn, "Isbn")
                                            @Html.TextBoxFor(Model => Model.Isbn, new { @class = "form-control", @placeholder = "0123456789123" })
                                        </div>
                                        <div class="form-group">
                                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                            @Html.LabelFor(model => model.Title, "Title")
                                            @Html.TextBoxFor(Model => Model.Title, new { @class = "form-control", @placeholder = "The Hobbit" })
                                        </div>
                                        <div class="form-group">
                                            @Html.ValidationMessageFor(model => model.Synopsis, "", new { @class = "text-danger" })
                                            @Html.LabelFor(Model => Model.Synopsis, "Synopsis")
                                            @Html.TextAreaFor(model => model.Synopsis, new { @class = "form-control", @placeholder = "The Hobbit is a children's fantasy novel by J. R. R. Tolkien. It was published on 21 September 1937 to wide critical acclaim, being nominated for the Carnegie Medal and awarded a prize from the New York Herald Tribune for best juvenile fiction. The book remains popular and is recognized as a classic in children's literature." })
                                        </div>
                                        <div class="form-group">
                                            @Html.ValidationMessageFor(model => model.PublishDate, "", new { @class = "text-danger" })
                                            @Html.LabelFor(model => model.PublishDate, "Publish date")
                                            <input id="PublishDate" asp-for="PublishDate"/>
                                        </div>
                                        <div class="form-group">
                                            @Html.ValidationMessageFor(model => model.AmountPages, "", new { @class = "text-danger" })
                                            @Html.LabelFor(model => model.AmountPages, "Amount pages")
                                            @Html.TextBoxFor(model => model.AmountPages, new { @class = "form-control", type = "number", @placeholder = "123" })
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            @Html.ValidationMessageFor(bookViewModel => bookViewModel.AuthorIds, "", new { @class = "text-danger" })
                                            @Html.LabelFor(bookViewModel => bookViewModel.AuthorIds, "Authors")
                                            @Html.DropDownListFor(bookViewModel => bookViewModel.AuthorIds, new MultiSelectList(Model.AuthorModels, "Id", "Name"), new { @class = "js-example-basic-multiple", @name = "states[]", @multiple = "multiple" })
                                        </div>
                                        <div class="form-group">
                                            @Html.ValidationMessageFor(bookViewModel => bookViewModel.PublisherId, "", new { @class = "text-danger" })
                                            @Html.LabelFor(bookViewModel => bookViewModel.PublisherId, "Publisher")
                                            @Html.DropDownListFor(bookViewModel => bookViewModel.PublisherId, new MultiSelectList(Model.PublisherModels, "Id", "Name"), new { @class = "js-example-basic-single", @name = "state" })
                                        </div>

                                        <div class="form-group">
                                            @Html.ValidationMessageFor(bookViewModel => bookViewModel.GenreIds, "", new { @class = "text-danger" })
                                            @Html.LabelFor(bookViewModel => bookViewModel.GenreIds, "Genres")
                                            @Html.DropDownListFor(bookViewModel => bookViewModel.GenreIds, new MultiSelectList(Model.GenreModels, "Id", "Name"), new { @class = "js-example-basic-multiple", @name = "states[]", @multiple = "multiple" })
                                        </div>
                                        <div class="form-group">
                                            @Html.ValidationMessageFor(bookViewModel => Model.ThemeIds, "", new { @class = "text-danger" })
                                            @Html.LabelFor(bookViewModel => bookViewModel.ThemeIds, "Themes")
                                            @Html.DropDownListFor(bookViewModel => Model.ThemeIds, new MultiSelectList(Model.ThemeModels, "Id", "Description"), new { @class = "js-example-basic-multiple", @name = "states[]", @multiple = "multiple" })
                                        </div>
                                        <div class="form-group">
                                            @Html.ValidationMessageFor(bookViewModel => bookViewModel.SettingIds, "", new { @class = "text-danger" })
                                            @Html.LabelFor(bookViewModel => bookViewModel.SettingIds, "Settings")
                                            @Html.DropDownListFor(bookViewModel => bookViewModel.SettingIds, new MultiSelectList(Model.SettingModels, "Id", "Description"), new { @class = "js-example-basic-multiple", @name = "states[]", @multiple = "multiple" })
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <button id="ButtonMelding" type="submit">Add book</button>
                        }
                    </div>
                </dialog>
            </li>
        </ul>
    </section>
    <table>
        <thead>
        <tr>
            <th>Cover</th>
            <th>Title</th>
            <th>Isbn</th>
            <th>Synopsis</th>
            <th>Publisher</th>
            <th>Pages</th>
            <th>Authors</th>
            <th>Genres</th>
            <th>Themes</th>
            <th>Settings</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (BookModel book in Model.BookModels)
        {
            <tr>
                <td><img src="https://picsum.photos/seed/@book.Isbn/275/400" alt="Book image"></td>
                <td onclick="location.href='@Url.Action("Detail", "Book", new{book.Id})'">@book.Title</td>
                <td>@book.Isbn</td>
                <td>@book.Synopsis</td>
                <td>@book.Publisher.Name</td>
                <td>@book.AmountPages</td>
                <td>
                    @foreach (AuthorModel author in book.Authors)
                    {
                        <p>@author.Name</p>
                    }
                </td>
                <td>
                    @foreach (GenreModel genre in book.Genres)
                    {
                        <p>@genre.Name</p>
                    }
                </td>
                <td>
                    @foreach (ThemeModel theme in book.Themes)
                    {
                        <p>@theme.Description</p>
                    }
                </td>
                <td>
                    @foreach (SettingModel setting in book.Settings)
                    {
                        <p>@setting.Description</p>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("Delete", "Book", new {id = book.Id}, FormMethod.Post, true, new {id = $"deleteForm{book.Id}"}))
                    {
                        @Html.AntiForgeryToken()
                        <button type="button" onclick="confirmDelete(@book.Id, '@book.Title')">Delete</button>
                    }
                </td>
                <td>
                    <button type="button" onclick="ShowEditDialog(@book.Id, '@book.Title')">Edit</button>
                    <dialog id="EditBookForm-@book.Id">
                        <div class="modal-content">
                            @using (@Html.BeginForm("EditBook", "Book", FormMethod.Post))
                            {
                                <button type="button" class="btn-close" onclick="CloseEditDialog(@book.Id)">X</button>
                                <fieldset>
                                    <legend></legend>
                                    @Html.Hidden("Id", @book.Id)
                                    <div class="split">
                                        <div>
                                            <div class="form-group">
                                                @Html.ValidationMessageFor(model => model.Isbn, "", new { @class = "text-danger" })
                                                @Html.LabelFor(model => model.Isbn, "Isbn")
                                                @Html.TextBoxFor(Model => Model.Isbn, new { @class = "form-control", @placeholder = "0123456789123" })
                                            </div>
                                            <div class="form-group">
                                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                                @Html.LabelFor(model => model.Title, "Title")
                                                @Html.TextBoxFor(Model => Model.Title, new { @class = "form-control", @placeholder = "The Hobbit" })
                                            </div>
                                            <div class="form-group">
                                                @Html.ValidationMessageFor(model => model.Synopsis, "", new { @class = "text-danger" })
                                                @Html.LabelFor(Model => Model.Synopsis, "Synopsis")
                                                @Html.TextAreaFor(model => model.Synopsis, new { @class = "form-control", @placeholder = "The Hobbit is a children's fantasy novel by J. R. R. Tolkien. It was published on 21 September 1937 to wide critical acclaim, being nominated for the Carnegie Medal and awarded a prize from the New York Herald Tribune for best juvenile fiction. The book remains popular and is recognized as a classic in children's literature." })
                                            </div>
                                            <div class="form-group">
                                                @Html.ValidationMessageFor(model => model.PublishDate, "", new { @class = "text-danger" })
                                                @Html.LabelFor(model => model.PublishDate, "Publish date")
                                                <input id="PublishDate" asp-for="PublishDate"/>
                                            </div>
                                            <div class="form-group">
                                                @Html.ValidationMessageFor(model => model.AmountPages, "", new { @class = "text-danger" })
                                                @Html.LabelFor(model => model.AmountPages, "Amount pages")
                                                @Html.TextBoxFor(model => model.AmountPages, new { @class = "form-control", @placeholder = "123" })
                                            </div>
                                        </div>
                                        <div>
                                            <div class="form-group">
                                                @Html.ValidationMessageFor(bookViewModel => bookViewModel.AuthorIds, "", new { @class = "text-danger" })
                                                @Html.LabelFor(bookViewModel => bookViewModel.AuthorIds, "Authors")
                                                @Html.DropDownListFor(bookViewModel => bookViewModel.AuthorIds, new MultiSelectList(Model.AuthorModels, "Id", "Name"), new { @class = "js-example-basic-multiple", @name = "states[]", @multiple = "multiple" })
                                            </div>
                                            <div class="form-group">
                                                @Html.ValidationMessageFor(bookViewModel => bookViewModel.PublisherId, "", new { @class = "text-danger" })
                                                @Html.LabelFor(bookViewModel => bookViewModel.PublisherId, "Publisher")
                                                @Html.DropDownListFor(bookViewModel => bookViewModel.PublisherId, new MultiSelectList(Model.PublisherModels, "Id", "Name"), new { @class = "js-example-basic-single", @name = "state" })
                                            </div>
                    
                                            <div class="form-group">
                                                @Html.ValidationMessageFor(bookViewModel => bookViewModel.GenreIds, "", new { @class = "text-danger" })
                                                @Html.LabelFor(bookViewModel => bookViewModel.GenreIds, "Genres")
                                                @Html.DropDownListFor(bookViewModel => bookViewModel.GenreIds, new MultiSelectList(Model.GenreModels, "Id", "Name"), new { @class = "js-example-basic-multiple", @name = "states[]", @multiple = "multiple" })
                                            </div>
                                            <div class="form-group">
                                                @Html.ValidationMessageFor(bookViewModel => Model.ThemeIds, "", new { @class = "text-danger" })
                                                @Html.LabelFor(bookViewModel => bookViewModel.ThemeIds, "Themes")
                                                @Html.DropDownListFor(bookViewModel => Model.ThemeIds, new MultiSelectList(Model.ThemeModels, "Id", "Description"), new { @class = "js-example-basic-multiple", @name = "states[]", @multiple = "multiple" })
                                            </div>
                                            <div class="form-group">
                                                @Html.ValidationMessageFor(bookViewModel => bookViewModel.SettingIds, "", new { @class = "text-danger" })
                                                @Html.LabelFor(bookViewModel => bookViewModel.SettingIds, "Settings")
                                                @Html.DropDownListFor(bookViewModel => bookViewModel.SettingIds, new MultiSelectList(Model.SettingModels, "Id", "Description"), new { @class = "js-example-basic-multiple", @name = "states[]", @multiple = "multiple" })
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <button id="ButtonMelding" type="submit">Edit book</button>
                            }
                        </div>
                    </dialog>

                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<dialog id="deleteModal">
    <div class="modal-content">
        <button type="button" class="btn-close" onclick="closeModal()">X</button>
        <span id="bookTitle"></span>
        <form>
            <input type="text" id="promptInput" required>
            <button type="submit">Confirm</button>
        </form>
    </div>
</dialog>
<script>          
    $('.js-example-basic-multiple').select2();
    $('.js-example-basic-single').select2();
    
    function confirmDelete(id, title) {
        showModal(id, title);
    }
    
    function closeModal() {
        document.getElementById('deleteModal').style.display = 'none';
    }
    
    function ShowEditDialog(id, title) {
        document.getElementById('EditBookForm-'+id).style.display = 'block';
        
        const modal = document.querySelector('#EditBookForm');
        modal.querySelector('legend').textContent = 'Edit book: ' + title;
        
        document.getElementById('EditBookId').value = id;
    }
    
    function CloseEditDialog(id) {
        document.getElementById('EditBookForm-'+id).style.display = 'none';
    }

    function showModal(id, title) {
        const modal = document.getElementById('deleteModal');
        const modalContent = modal.querySelector('.modal-content');
        let promptInput = modalContent.querySelector('input');

        // Set the book title in the modal content
        modalContent.querySelector('#bookTitle').textContent = 'Delete book: ' + title;
        modalContent.querySelector('#promptInput').placeholder = title;

        // Show the modal
        modal.style.display = 'block';

        // Disable paste event for the input field
        promptInput.addEventListener('paste', function (event) {
            event.preventDefault();
        });

        // Handle form submission
        modalContent.querySelector('form').addEventListener('submit', function (event) {
            event.preventDefault();

            let userInput = promptInput.value;

            if (userInput === title) {
                // User input matches the model ID, proceed with deletion
                document.getElementById('deleteForm'+id).submit();
            } else {
                // User input does not match the model ID, show an error message
                alert('Incorrect book title entered. Deletion canceled.');
            }

            // Hide the modal
            modal.style.display = 'none';
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        var modal = document.getElementById('customModal');

        // Close the modal when clicking outside of it
        window.addEventListener('click', function (event) {
            if (event.target === modal) {
                modal.style.display = 'none';
            }
        });
    });
</script>

